@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    background: rgba(7, 105, 129, 0.712);
}

html{
    font-size: 70%;
}

.container{
    background: white;
    margin: 5rem auto;
    width: 40rem;
    border-radius: 2%;
    padding: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.cpf-gerado{
    color: green;
    font-size: 3rem;
    margin-top: 2rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    border: 0.2rem solid green;
}